body{
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FBE3A4;
}
#text-el{
    border: none;
    padding: 10px 20px;
    min-width: 750px;
    margin-bottom: 10px;
}

.container{
    margin: 0;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    background-color: #E2D8BD;
    width: 800px;
    height: 800px;
}
.elements{
    margin-top: 10px;
    color: black;
}

.elements button{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 

button{
    font-family: inherit;
    font-weight: 600;
    border: none;
}
button:hover{
    background-color: #628134;
}

#ul-el{
    list-style-type: none;
}

 h1{
    text-align: center;
 }
 
 .checkbox-button {
    cursor: pointer;


}
 
.terminado {
    cursor: pointer;
    text-decoration: line-through;
    padding: 5px;
}
 
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posición arriba del elemento */
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}