body{
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FBE3A4;
}
#text-el{
    border: none;
    padding: 10px 20px;
    min-width: 750px;
    margin-bottom: 10px;
}

.container{
    margin: 0;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    background-color: #E2D8BD;
    width: 800px;
    height: 800px;
}
.elements{
    margin-top: 10px;
    color: black;
}

.elements button{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button{
    font-family: inherit;
    font-weight: 600;
    border: none;
}
button:hover{
    background-color: #628134;
}

#ul-el{
    list-style-type: none;
}

 h1{
    text-align: center;
 }
 
 .checkbox-button {
    cursor: pointer;
     

}
 
.terminado {
    cursor: pointer;
    text-decoration: line-through;
    padding: 5px;
}
 